<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>TestResponse1</servlet-name>
    <servlet-class>com.test.hw.TestResponse1</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>TestResponse2</servlet-name>
    <servlet-class>com.test.hw.TestResponse2</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>TestResponse1</servlet-name>
    <url-pattern>/servlet/TestResponse1</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>TestResponse2</servlet-name>
    <url-pattern>/servlet/TestResponse2</url-pattern>
  </servlet-mapping>
</web-app>
